<script setup>
import router from '@/router';
import { onMounted, reactive } from 'vue';

const state = reactive({
    redirectTo:"/signin"
}) 

onMounted(() => {
    const user = localStorage.getItem('user-info')
    if (!user) {
        router.push(state.redirectTo)
        console.log(user)
    }
})

</script>

<template>
    <div class="container">
        <h1>Dashboard Admin</h1>
    </div>
</template>

<style lang="scss" scoped>

</style>
